#Remove extension of URL
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d

#phpextension
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

#htmlextension
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

RewriteRule ^home index.php
RewriteRule ^corteam corporateteam.php
RewriteRule ^corprofile corporateprofile.php
RewriteRule ^vm visionmision.php


#error handling htaccess
ErrorDocument 400 /errors/badreq
ErrorDocument 403 /errors/forbidden
ErrorDocument 404 /errors/notfound 
ErrorDocument 408 /errors/reqtimeout
ErrorDocument 500 /errors/servererror 
ErrorDocument 502 /errors/badgateway
ErrorDocument 504 /errors/timeout



